@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
/* 	==========================================================================
	Author: Mvishal Shukla
	Updated: --/--/--
	Notes: Hand Coded
   	========================================================================== */
   
/* 	--------------------------------------------------
	Font Styles
	-------------------------------------------------- */
	
@font-face {
    font-family: 'lubalgraph_bk_btbook';
    src: url('../fonts/lubgrhn_2-webfont.eot');
    src: url('../fonts/lubgrhn_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lubgrhn_2-webfont.woff2') format('woff2'),
         url('../fonts/lubgrhn_2-webfont.woff') format('woff'),
         url('../fonts/lubgrhn_2-webfont.ttf') format('truetype'),
         url('../fonts/lubgrhn_2-webfont.svg#lubalgraph_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'questrialregular';
    src: url('../fonts/questrial-regular-webfont.eot');
    src: url('../fonts/questrial-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/questrial-regular-webfont.woff2') format('woff2'),
         url('../fonts/questrial-regular-webfont.woff') format('woff'),
         url('../fonts/questrial-regular-webfont.ttf') format('truetype'),
         url('../fonts/questrial-regular-webfont.svg#questrialregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* 	--------------------------------------------------
	Global Styles
	-------------------------------------------------- */
	
.loader{
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    display: table;
    overflow: hidden;
}
.inner-loader{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
}

@keyframes roty {
	  0%
	  {
	  	transform: rotateY(0deg); 
	  }
	  50%
	  {
	  	transform: rotateY(180deg) scaleY(1.2);
	  }
	   100%{
	  	transform: rotateY(360deg) scaleY(1);
	  	
	  }
	}
	
@-webkit-keyframes roty {
	  0%
	  {
	  	-webkit-transform: rotateY(0deg); 
	  }
	  50%
	  {
	  	-webkit-transform: rotateY(180deg) scaleY(1.2); 
	  }
	  100%{
	  	-webkit-transform: rotateY(360deg) scaleY(1);
	  }
	}

.inner-loader img:first-child{
		-webkit-animation: 1.5s roty infinite linear;
		-webkit-transform-origin: 50% 50%;
		
		-moz-animation: 1.5s roty infinite linear;
		-moz-transform-origin: 50% 50%;
		
		-o-animation: 1.5s roty infinite linear;
		-o-transform-origin: 50% 50%;
		
		-ms-animation: 1.5s roty infinite linear;
		-ms-transform-origin: 50% 50%;
		
		animation: 1.5s roty infinite linear;
		transform-origin: 50% 50%;
}
	
html
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #ededed;	
}
body
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
	
h1,h2,h3,h4,h5,h6 {
 padding: 0px;
}

.back-to-top {
background: none;
margin: 0;
position: fixed;
bottom: 0;
right: 0;
width: 70px;
height: 70px;
z-index: 100;
display: none;
text-decoration: none;
color: #ffffff;
display: none;
}

div.bar
{
	background-color: #30BAA4;
	padding: 11px 0 15px 0;
	font-family: 'Lato', sans-serif;
	letter-spacing: 6px;
}
/*,.btn-danger:hover.btn-danger:active,.btn-danger:visited*/
.btn-danger
{
	background-color: #F0693C !important;
	background-image: none;
	border: 0px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 0px;
	padding-top: 10px;
}
.hvr-push:hover{
	animation-duration: 1s;
}
.h3{
	color: #30BAA4;
}
a,a:hover, a:active, a:focus{
	outline: 0;
}
.dng-btn{
	font-family: 'lubalgraph_bk_btbook';
	letter-spacing: 2px;
}
.HDivider{
	height: 100px;
	width: 1px;
	margin: 0 auto;
	background-color: #A7A9AC;
}
textarea{
	height: 150px !important;
	outline: 0;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}
/* 	--------------------------------------------------
	Navigation Menu
	-------------------------------------------------- */
	
.navbar-inverse
{
	background-color: hsla(0, 100%, 100%, 0.9);
	background-image: none;
	border-bottom: 0px;
	color: #000;
	padding-bottom: 0px !important;
	z-index: 99;
}
.navbar > .container{
	width: 95%;
}
@media(max-width: 797px){
	.navbar > .container{
		width: 100%;
	}
}
.navbar-fixed{
	margin-bottom: 0px !important;
}
.navbar-inverse .navbar-toggle .fa-navicon{
	color: #fff;
}
.navbar-inverse .navbar-brand
{
	color: #ffffff;
}
.navbar-inverse .navbar-nav li 
{
	
}
.navbar-inverse .navbar-nav li a
{
	color: #4B4B4B;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	transition: 0.5s all linear 0s;
	text-shadow: none;
}
.navbar-inverse .navbar-nav li a:hover
{
	color:#4B4B4B;	
}

.sticky
{
	transition: 0.5s all ease 0s;
	background-color: hsla(0, 100%, 100%, 0.9);
	border-bottom: 1px solid #4b4b4b; 
}
.sticky .navbar-nav li a
{
	color: #4B4B4B;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-shadow: none;
}
.sticky .navbar-nav li a:hover
{
	color:#30BAA4;
}
.navbar-brand #l-text{
	display: none;
}
.navbar-header .navbar-toggle {
    background-color: transparent;
}
.navbar-header .navbar-toggle:hover,.navbar-header .navbar-toggle:focus
{
    background-color: transparent;
}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
	border-color: #4b4b4b;
}
.fa-time:before{
	content: 'x';
}
.header1a
{
	color: #4b4b4b !important;
}
.header1a:hover{
	color: #30BAA4 !important;
}
.btn-h1 span{
	color: #4b4b4b !important;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size:16px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size:16px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown > .dropdown-content a {
	font-size:16px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.active>a {
    /* background-image: -webkit-linear-gradient(top,#080808 0,#0f0f0f 100%); */
   /* background-image: -o-linear-gradient(top,#080808 0,#0f0f0f 100%);*/
    /* background-image: -webkit-gradient(linear,left top,left bottom,from(#080808),to(#0f0f0f)); */
    /* background-image: linear-gradient(to bottom,#080808 0,#0f0f0f 100%); */
   /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff080808', endColorstr='#ff0f0f0f', GradientType=0);
    background-repeat: repeat-x;*/
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image:none;
}

.fa-facebook:before {
    content: no-close-quote;
}

.fa-twitter:before {
    content: no-close-quote;
}
 
.fa-linkedin:before {
	 content: no-close-quote;
}

.fa-instagram:before {
	 content: no-close-quote;
}

/* 	--------------------------------------------------
	Slider Design
	-------------------------------------------------- */
header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
    /*width: 100%;
    display: table;*/
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
/*    display: table;*/
}

#myCarousel
{
/* height: 89vh;*/
/* margin-top: -80px;*/
}
.carousel-inner
{

}
.carousel-caption
{
/* border: 1px solid #ff0000;*/
 height: 100%;
 left: 0;
 right: 0;
 border-radius: 5px;
 padding-bottom: 0px;
 padding-top: 0px;
 margin: 0 auto;
 bottom: 0;
 -webkit-animation-duration: 4s;
 -webkit-animation-delay: 2s;
 animation-duration: 4s;
 animation-delay: 2s;
 width: 100%;
 display: table;
 background-color: rgba(35, 31, 32, 0.6);
}
.carousel-caption h1{
 font-size: 80px;
 line-height: 80px;
 color: #ffffff;
 width: auto !important;
 font-weight: 700;
 font-family: lato;
 display: table-cell;
 vertical-align: middle;
}
.carousel-caption h1 span
{
	font-size: 60px;
	font-family: lato;
	font-weight: 400;
}
.carousel-indicators
{
/* margin-left: -3%;
 width: auto;
 padding: 5px;*/
 
}
.carousel-indicators li
{
 border: 1px solid hsla(0, 100%, 100%, 0.5);;
 background-color: hsla(0, 100%, 100%, 0.5);;
 border-radius: 0;
 height: 5px;
 width: 35px;
}
.carousel-indicators .active
{
 background-color: #fff;
 height: 6px;
 width: 36px;
}
.carousel-control.left,.carousel-control.right
{
	background-color: transparent;
	background-image: none;
	display: none;
}
a.carousel-control.left:hover,a.carousel-control.left:right
{
	background-color: transparent;
}
a.carousel-control span
{
	background-color: #2f2bd5;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 30px;
	border-radius: 5px;
}
.home1{
	background-image: url('../img/Banner2.jpg');
	
}
.home2{
	background-image:url('../img/Banner1.jpg');
	
}
.home3{
	background-image:url('../img/Banner3.jpg');
	
}
.home4{
	background-image:url('../img/Banner4.jpg');
	
}
@media only screen and (max-width: 769px){
	.home1{
	background-image: url('../img/Banner2.jpg');
	

}
.home2{
	background-image:url('../img/Banner1.jpg');
	
}
.home3{
	background-image:url('../img/Banner3.jpg');
	
}
.home4{
	background-image:url('../img/Banner4.jpg');
	}

}

/* 	--------------------------------------------------
	Body Design
	-------------------------------------------------- */
	.g-img{
		background-image: url('../img/our-work-04new.png');
		width: 63px;
		height: 72px;
		cursor: pointer;
		border: none;
		outline: none;
		background-color: transparent;
	}
	.g-img:hover{
/*		content: url('../img/work1-01.png');*/
		background-position: 0px -73px;
	}
	.g-img1{
		background-image: url('../img/how it works-03new.png');
		width: 54px;
		height: 72px;
		cursor: pointer;
		border: none;
		outline: none;
		background-color: transparent;
	}
	.g-img1:hover{
/*		content: url('../img/work1-01.png');*/
		background-position: 0px -73px;
	}

	.g-img3{
		background-image: url('../img/jewelry_image.png');
		width: 300px;
		height: 300px;
		cursor: pointer;
		border: none;
		outline: none;
		background-color: transparent;
	}
/*	.g-img3:hover{
		content: url('../img/work1-01.png');
		background-position: 0px -73px;
	}*/
	.g-img4{
		background-image: url('../img/gift_image.png');
		width: 300px;
		height: 300px;
		cursor: pointer;
		border: none;
		outline: none;
		background-color: transparent;
	}
/*	.g-img4:hover{
		content: url('../img/work1-01.png');
		background-position: 0px -73px;
	}
*/
	.fa-shopping-cart{
		font-size: 49px;color: #E6E6E7;margin-top: 52px;
	}
	.fa-shopping-cart:hover{
		color: #F0693C;
	}
	.about-banner{
		margin-top: 57px;
		height: auto;
/*		border: 1px solid #26ff00;*/
		width: 100%;
		position: relative;
	}
	.about-overlay{
/*		border: 2px solid #ff0000;*/
		position: absolute;
		z-index: 1;
		color: #fff;
		width: 100%;
		height: 100%;
		text-align: center;
		font-family: 'lubalgraph_bk_btbook';
/*		display: table;*/
	}
	.about-overlay h3{
		font-family: 'lato';
		font-size: 35px;
		position: absolute;
		line-height: 40px;
		word-spacing: 5px;
		letter-spacing: 2px;
		padding: 0;
		margin: 0;
/*		height: 450px;*/
		width: 60%;
		left: 20%;
		right: 20%;
		top: 185px;
		font-weight: 700;
		display: table-cell;
		vertical-align: middle;
	}
	canvas{
		width: 100%;
	}
	#particles-js{
/*	  width: 100%;*/
/*	  height: 100%;*/
	  background-color: #414042;
/*	  background-image: url('');*/
/*	  background-size: cover;*/
/*	  background-position: 50% 50%;*/
/*	  background-repeat: no-repeat;*/
/*	  height: 450px;*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	}
	.overlay-box{
		position: relative;
		background-color: #30BAA4;
		width: 50%;
		margin-top: -100px;
		z-index: 9;
		color: #fff;
		font-family: 'questrialregular';
		padding: 20px 20px 0 20px;
	}
	.overlay-box .obc{
		width: 100%;
		padding-left: 10%;
		padding-right: 10%;
		font-size: 15px;
		text-align: center;
	}
	.ab-dgn-btn1{
		margin-bottom: -8;
	}
	
	
	
	.banner-overlay-heading{
		font-family: 'lubalgraph_bk_btbook';
		font-size: 20px;
		color: #fff;
		width: 50%;
		margin: 14px auto 30px auto;
	}
	
	.header-text{
		color: #4B4B4B;
		font-family: 'lubalgraph_bk_btbook';
		font-size: 25px;
		margin-bottom: 0px;
		font-weight:normal;
	}
	.header-text-small{
		font-family: 'questrialregular';
		font-size: 15px;
	}
	.full-width-box{
		background-color: #30BAA4;
		padding:30px;
/*		line-height:30px;*/
		color:#fff;		
	}
	.full-width-box p{
		margin: 0;
	}
	
	.quotes-container{
		height: 400px;
		background-color: #30BAA4;
		width: 100%;
		display: table;
	}
	.quotes-container-1{
		height: 400px;
		background-color: #50d8be;
		width: 100%;
		display: table;
	}
	.quotes-container-2{
		height: 400px;
		background-color: #50d8be;
		width: 100%;
		display: table;
	}
	.quotes-container-3{
		height: 400px;
		background-color: #30BAA4;
		width: 100%;
		display: table;
	}
	
	.inner-quotes-container{
		font-family: 'questrialregular';
		display: table-cell;
		vertical-align: middle;
		background-color: transparent;
	}
	
	.img-zoom{
		-webkit-transition: 0.6s ease-in-out;
  		transition: 0.6s ease-in-out;
	}
	.img-zoom:hover{
		-webkit-transform: scale(1.2);
  		transform: scale(1.2);
	}
	.img-zoom-cont{
/*		border: 1px solid #ff0000;*/
		overflow: hidden;
		height: 302px;
		width: auto;
		margin: 0 auto;
	}
	.text-circle{
		background-color: #F0693C;
		border-radius: 50%;
		height: 50px;
		width: 50px;
	}
	.text-circle p{
		font-family: 'lubalgraph_bk_btbook';
		color: #fff;
		font-size: 30px;
		line-height: 57px;
	}
	.howitwork{
		margin-left: 70px;
	}
	
	.outer-img-container{
/*		border: 1px solid #ff0000;*/
		position: relative;
	}
	.inner-img-container{
		position: absolute;
		background-color: rgba(0, 0, 0, 0.65);
		display: table;
		-webkit-transition: 0.5s background-color linear 0s;
		transition: 0.5s all linear 0s;
		z-index: 1;
	}
	.inner-img-container p{
		display: table-cell;
		vertical-align: middle;
		color: #fff;
		font-family: 'lubalgraph_bk_btbook';
		font-size: 20px;
		-webkit-transition: 0.5s background-color linear 0s;
		transition: 0.5s all linear 0s;
	}
	.inner-img-container:hover, .inner-img-container:hover p{
		background-color: transparent;
		color: transparent;
		opacity: 0;
	}
	.sheading{
		font-family: 'questrialregular';
		font-size: 18px;
		color: #F0693C;
	}
	.sheading-text{
		font-family: 'questrialregular';
		font-size: 15px;
		font-family: 'lubalgraph_bk_btbook' !important;
	}
	.text-box{
		max-width: 500px;
		margin: 0 auto;
		box-shadow: none;
		border: 0;
		background-color: #F1F2F2;
		border-radius: 0;
	}
	.small-circle{
		border: 1px solid #fff;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		padding: 10px 12.5px 10px 12.5px;
	}
	.small-circle:before{
		content: "=";
	}
	.scont{
		background-color: #F1F2F2;
		padding: 2%;
	}
	
	.image-upload-container{
		display: none;
	}
	div.browse-wrap {
        /*top:0;
        left:0;*/
        cursor:pointer;
        overflow:hidden;
        text-align:center;
        position:relative;
        background-color:#f6f7f8;
/*        border:solid 1px #ff0000;*/
        width: 15%;
        min-width: 154px;
        margin: 0 auto;
        
        }
    div.title {
        color:#6D6E71;
        font-weight:bold;
        font-family:tahoma, arial, sans-serif;}
    input.upload {
    	position: absolute;
    	top: 0;
    	left: 0;
    	height: 100%;
    	width: 100%;
        margin:0;
        padding:0;
        opacity:0;
        outline:none;
        cursor:inherit;
        }
    span.upload-path {
        text-align: center;
        margin:20px;
        display:block;
        font-size: 80%;
        color:#3b5998;
        font-weight:bold;
        font-family:tahoma, arial, sans-serif;
	}
	span.upload-path2 {
        text-align: center;
        margin:20px;
        display:block;
        font-size: 80%;
        color:#3b5998;
        font-weight:bold;
        font-family:tahoma, arial, sans-serif;
	}
	span.upload-path3 {
        text-align: center;
        margin:20px;
        display:block;
        font-size: 80%;
        color:#3b5998;
        font-weight:bold;
        font-family:tahoma, arial, sans-serif;
	}
	span.upload-path4 {
        text-align: center;
        margin:20px;
        display:block;
        font-size: 80%;
        color:#3b5998;
        font-weight:bold;
        font-family:tahoma, arial, sans-serif;
	}
	p.plus-text{
		font-size: 15px;
		font-family: 'questrialregular';
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.header-text-medium{
		font-size: 20px;
		color: #F0693C;
		font-family: 'questrialregular';
	}
	#new-submit{
/*		display: none;*/
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		background-color: #30BAA4;
		color: #fff;
		font-family: 'questrialregular';
		letter-spacing: 2px;
		padding: 8px;
	}
	span.plus:before{
		content: "+";
	}
	span.minus:before{
		content: "-";
	}
	.glyphicon-minus,.glyphicon-plus{
		font-family: 'questrialregular';
		font-size: 25px;
	}
	.designation{
		color: #F0693C;
	}
	
	
	.text-circle-code{
		display: table;
	}
	/*.text-cir-code{
		content: url("../img/h1.png");
	}*/
	.text-cir-code{
		font-size: 20px;
		display: table-cell;
		vertical-align: middle;
		margin-bottom: 20px;
	}
	
/* 	--------------------------------------------------
	Footer Design
	-------------------------------------------------- */
	
footer{
		background-color: #ededed;
		padding: 15px 10px 0 10px;
		color: #4B4B4B;
	}
	footer p span.fa-facebook,footer p span.fa-twitter,
	footer p span.fa-linkedin,footer p span.fa-instagram{
		padding-right: 30px;
		font-size: 20px;
		font-weight: bold;
		color: #30BAA4;
	}
	footer p span.fa-facebook:hover,footer p span.fa-twitter:hover,
	footer p span.fa-linkedin:hover,footer p span.fa-instagram:hover{
		color: #30BAA4;
	}
	footer a{
		color: #4B4B4B !important;
		font-family: lato;
		font-weight: 400;
		margin-right: 20px;
		margin-left: 20px;
		text-decoration: none !important;
		
	}
	footer a:hover{
		color: #F0693C !important;
	}
	footer ul li:last-child{
		border: 0px;
	}
	.sm-footer{
		padding-left: 15%;
	}
	
/* 	--------------------------------------------------
	Media Queries
	-------------------------------------------------- */
	
	/* Extra Small this will not applied 768 onward */
	
	@media(max-width: 1330px){
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -9% !important;
	}
	.text-cir-code{
		font-size: 18px;
	}
}

@media(max-width: 1199px){
	.text-cir-code{
		font-size: 20px;
	}
}

@media(max-width: 1000px){
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -10% !important;
	}
	.first-text{
		font-size: 22px;
	}
}

@media(max-width: 838px){
	.text-cir-code{
		font-size: 15px;
	}
}
	
	
@media(max-width:767px){
	
	.text-cir-code{
		font-size: 20px;
	}

.navbar-inverse .navbar-nav li a{
	color: #4b4b4b;
	
}

.carousel-caption h1{
	font-size: 40px;
	line-height: 40px;
}
.carousel-caption h1 span{
	font-size: 30px;
/*	font-weight: */
}

/*.navc {
	background-color: #fff;
	border-bottom: 1px solid #4b4b4b;
	}*/
.sticky{
	transition: 0.5s all linear 0s;
	background-color: hsla(0, 100%, 100%, 0.9);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
	background-color: #fff;
	border-bottom: 1px solid #4b4b4b;
}

	
}

/* this will not applied 767 and backward */
@media(min-width:767px){
	/*.navc{
		background-color: transparent !important; 
	}*/
}

@media(max-width:768px)
{
	.a-abt-btn{
		
	}
	.a-abt-btn1{
		padding-left: 48px;
		padding-right: 48px;
	}
	.about-overlay{
		line-height: 5px;
	}
	.about-overlay h3{
		/*font-size: 22px;
		line-height: 25px;
		font-weight: 700;*/
	}
	.overlay-box{
		width: 90% !important;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -8% !important;
	}
	
	.header-text-small{
		font-size: 14px;
	}
	.overlay-box .obc{
		font-size:14px;	
	}
	.navbar-header{
		padding-bottom: 0px !important;
	}
}

@media(max-width: 745px){
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -9% !important;
	}
}

@media(max-width: 700px){
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -10% !important;
	}
}
@media(max-width: 600px){
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -11% !important;
	}
}

/* Small */
@media(min-width:768px) and (max-width:1381px){
	footer a{
		margin-right: 5px;
		margin-left: 5px;
	}
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
	
}

/* Large */
@media(max-width:1200px){
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -7%;
	}
}

@media(max-width: 992px){
	.text-rght{
		text-align: left;
	}
}

@media(max-width: 953px){
	.howitwork{
		margin-left: 0px;
	}
}

@media(max-width: 848px){
	.howitwork{
		margin-top: 30px;
	}
}
@media(max-width: 864px){
	.get-dir{
/*		margin-top: 15px;*/
	}
}

@media(max-width: 768px){
	.howitwork{
			display: block;
			width: 70%;
			margin: 50px auto 0 auto;
		}
		.hiwork{
			display: block;
			width: 70%;
			margin: 0px auto 0 auto;
		}
		.about-banner{
			height: auto;
		}
		.about-overlay h3{
			top: 155px;
		}
}



@media(max-width: 550px){
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -13% !important;
	}
	
	.howitwork,.hiwork{
			display: block;
			width: 80%;
		}
}

@media(max-width: 500px){
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -15% !important;
	}
	.header-text span{
		font-size: 22px;
	}
	.about-overlay h3{
		/*font-size: 21px;
		line-height: 25px;
		font-weight: 700;*/
		font-size: 25px;
	}
	.banner-overlay-heading{
		width: 70%;
		font-size: 18px;
	}
	
	.hiw-banner-text h3{
		margin-top: -70px;
	}
	.small-tx-circle{
		font-size: 18px;
	}
	.img-tx-circle{
		width: 50px;
	}
	.sm-footer{
		padding-left: 10%;
	}
}


@media(max-width: 450px){
	.sm-footer{
		padding-left: 7%;
	}
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -17% !important;
	}
	
	.howitwork,.hiwork{
			display: block;
			width: 100%;
		}
		
	.faqc{
/*		margin: 0;*/
		padding: 10px 12px 10px 12px !important;
	}
}

@media(max-width: 400px){
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -18% !important;
	}
	
	.header-text span{
		font-size: 20px;
	}
	.img-tx-circle{
		width: 40px;
	}
	.sm-footer{
		padding-left: 5%;
	}
}

@media(max-width: 385px){
	.overlay-box{
		width: 60%;
		margin-top: -100px;
	}
	.ab-dgn-btn{
		margin-bottom: -20% !important;
	}
	
	.header-text span{
		font-size: 19px;
	}
	.small-tx-circle{
		font-size: 15px;
	}
	.img-tx-circle{
		width: 40px;
	}
	
}
@media(max-width: 381px){
	.sm-footer{
		padding-left: 10%;
	}
	}

@media(max-width: 350px){
	.sod,.sod:hover{
		padding: 10px;
		margin: 0;
	}
	.header-text span{
		font-size: 17px;
	}
	.howitwork, .howitwork:hover{
		margin-top: 30px;
	}
}

@media (min-width: 320px) and (max-width: 333px) {
 .get-dir{
/*		margin-top: 10px;*/
	}
	.p3p{
		font-size: 20px;
	}
}

@media(max-width: 335px){
	
}

@media(max-width: 380px){
	footer a{
		margin-left: auto;
		margin-right: auto;
	}
	.sm-footer{
		padding-left: 4%;
	}
}